*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    input::placeholder{
        color: white;
    }
}
.navbar{
    height: 100px;
    width: 100%;
    color: white;
    background: rgb(44, 44, 73);

}
.logo{
    height: 100%;
    width: 25%;
    float: left;
}
.logo img{
    height: 60%;
    width: 60%;
    margin-top: 5%;
    margin-left:8%;
}
.links{
    height: 100%;
    width: 50%;
    float: left;
    padding-left: 5%;
}
.links li{
    display: inline-block;
    margin-right: 5%;
    margin-top: 5%;
    font-size: large;
}
.search{
    height: 100%;
    width: 25%;
    float: left;padding-top: 2.5%;
}
.search i {
    margin-left: 3%;
    font-size: larger;
}
.fa-bars{
    visibility: hidden;
}
@media(max-width : 667px){
    .links{
        /* visibility: hidden; */
        .links li{
            font-size: 5px;
        }
    }
    .search p{
        visibility: hidden;
        height: 0%;
    }
    
    .search{
        text-align: center;
        padding-top: 8%;
    }
    
.fa-bars{
    visibility: visible;
}

}

/* navbar completed */

.main{
    height: 650px;
    width: 100%;
    color: white;
   background-image: url(images/Windows-11-bg.webp);
    padding-left: 5%;
    background-size: cover;
    padding-right: 5%;
}
.main_info{
    height: 100%;
    width:60% ;
   
    float: left;
    padding-top: 10%;
}
.main_form{
    height: 100%;
    width: 40%;
    float: left;
  
    padding-top: 10%;
}
.main_form input{
    height: 50px;
    width: 45%;
   margin-left: 3%;
   margin-top: 5%;
    border: none;float: left;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
}
.btn1{
    height: 50px;width: 30%;color: white; background-image: linear-gradient(to right,rgb(112, 112, 247),rgb(165, 165, 241),rgb(85, 85, 250));border-radius: 30px;box-sizing: border-box;font-size:medium;
}
.btn2{
    height: 50px;width: 30%;color: white; background-image: linear-gradient(to right,rgb(149, 243, 86),rgb(13, 233, 13),rgb(233, 212, 30));border-radius: 30px;box-sizing: border-box;font-size:medium
}
@media(max-width:667px){
    .btn1{
        font-size: x-small;
    }
    .btn2{
        font-size: x-small;
    }
}

/* features div started */
.features{
    height: 300px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(44, 44, 73);
    float: left;
}
.features p{
    font-size: small;margin-top: 5%;
}
.features i{
    font-size: 50px;margin-top: 7%;margin-bottom: 5%;color: red;
}
.container1{
    height: 100%;
    width: 20%;
    color: white;
    margin-right: 5%;
    
  margin-top: -100px;
   float: left;
   padding: 1%;
   background: rgb(64, 64, 87)
}
@media(max-width:667px){
   
    .features{
        height: 300px;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        background: rgb(44, 44, 73);
        float: left;
    }
    
.container1{
    height: 100%;
    width: 23%;
    color: white;
    margin-right: 2%;
    
  margin-top: -100px;
   float: left;
   padding: 1%;
 background: rgb(64, 64, 87);
}
.features p{
    font-size: small;text-overflow: hidden;
}
.features i{
    font-size: 40px;
}
.features h1{
    font-size: large;
}

}
/* our clients */
.clients{
    height: 600px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(44, 44, 73);
    padding-top: 10%;
    float: left;
    color: white;
    font-size: xx-large;
}
.images{
    height: 150px;
    width: 15%;
   
    margin-left: 1%;float: left;
    box-sizing: border-box;
     padding: 3%;
}
.images img{
    height: 100%; width: 100%;
}
@media(max-width:667px){
    
.images{
    height: 100px;width: 30%;
}
}
/* About us section started */

.about{
    height: 600px;
    width: 100%;float: left;
    background: rgb(44, 44, 73);
    padding: 5%;
    color: white;
}
.div1{
    height: 100%;
    width: 50%;
    float: left;
}
.div1 i{
    color: orange;
    margin-top: 2%;
    margin-right: 1%;
}
.btn4{
    height: 50px;width: 30%;color: white; background-image: linear-gradient(to right,rgb(112, 112, 247),rgb(165, 165, 241),rgb(85, 85, 250));border-radius: 30px;box-sizing: border-box;font-size:medium;margin-top: 5%;float: left;margin-right: 5%;
}
.btn3{
    height: 50px;width: 30%;color: white; background-color: transparent;border-radius: 30px;box-sizing: border-box;font-size:medium;margin-top: 5%;
}
@media(max-width:667px){
  
.about{
    height: 1200px;
    width: 100%;float: left;
    background: rgb(44, 44, 73);
    padding: 5%;
    color: white;
}  
.div1{
    height: 50%;
    width: 100%;
    float: left;
}
}
/* portfolio started */
.Portfolio{
    height: 380px;
    width: 100%;
    background: rgb(44, 44, 73);
    display: flex;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;

}
.port-info{
    height: 10%;
    width: 60%;
    float: left;
    padding: 3%;
    color: white;
}
.port-info h1{
    font-size: 50px;
}
.port-btn{
    height: 10%;
    width: 40%;
    float: right;
   
}
.port-btn button{
    height: 50px;
    width: 40%;
    border-radius: 30px;
    background-color: transparent;
    font-size: large;
   margin-left: 50%;
   margin-top: 30%;
   color: white;
}
@media(max-width:667px){
    .port-btn button{
        font-size: small;
    }
}
.port-images{
    height:600px;
    width:100% ;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    float: left;
    display: flex;
    background: rgb(44, 44, 73);
}
.port-div1{
    height: 95%;
    width: 50%;
    float: left;
   background-size: cover;
   background-repeat: no-repeat;
    background-image: url(images/webpages/im4.jpg);
}

.port-div2{
    height: 95%;
    width: 50%;
    float: left;
   background-size: cover;
   background-repeat: no-repeat;
    background-image: url(images/webpages/im3.jpg);
}

.port-div3{
    height: 95%;
    width: 50%;
    float: left;
   background-size: cover;
   background-repeat: no-repeat;
    background-image: url(images/webpages/im2.jpg);
}

.port-div4{
    height: 95%;
    width: 50%;
    float: left;
   background-size: cover;
   background-repeat: no-repeat;
    background-image: url(images/webpages/im1.jpg);
}

@media(max-width:667px){

  

.port-div1{
    height: 90%;
    width: 100%;
   
}

.port-div2{
    height: 90%;width: 100%;
   
}

.port-div3{
    height: 0%;width: 0%;
   
   
   
}

.port-div4{
    height: 0%;width: 0%;

   
}
}

/* services started */


/* portfolio started */
.services{
    height: 380px;
    width: 100%;
    background: rgb(44, 44, 73);
    display: flex;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;

}
.serv-info{
    height: 10%;
    width: 60%;
    float: left;
    padding: 3%;
    color: white;
}
.serv-info h1{
    font-size: 50px;
}
.serv-btn{
    height: 10%;
    width: 40%;
    float: right;
   
}
.serv-btn button{
    height: 50px;
    width: 40%;
    border-radius: 30px;
    background-color: transparent;
    font-size: large;
   margin-left: 50%;
   margin-top: 30%;
   color: white;
}
@media(max-width:667px){
    .serv-btn button{
        font-size: small;
    }
}

.serv-images{
    height: 500px;
    width: 100%;
    float: left;
    padding-left: 8%;
    padding-right: 5%;
    background: rgb(44, 44, 73);
    padding-top: 5%;


}
.servim1{
    height: 90%;
    width: 28%;
  
    float: left;
    margin-right: 5%;
    background-image:linear-gradient(to right ,rgb(111, 111, 248),rgb(144, 144, 235),rgb(110, 110, 156));
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;

}
.servim1 i{
    font-size: 50px;
    color: white;
   
}
.servim1 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
    color: white;
}
.servim1 p{
    color: white;
   
}

.servim2{
    height: 90%;
    width: 28%;
  
    float: left;
    margin-right: 5%;
    background-image:linear-gradient(to right ,rgb(111, 111, 248),rgb(144, 144, 235),rgb(110, 110, 156));
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;

}
.servim2 i{
    font-size: 50px;
    color: white;
   
}
.servim2 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
    color: white;
}
.servim2 p{
    color: white;
   
}

.servim3{
    height: 90%;
    width: 28%;
  
    float: left;
    margin-right: 5%;
    background-image:linear-gradient(to right ,rgb(111, 111, 248),rgb(144, 144, 235),rgb(110, 110, 156));
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;

}
.servim3 i{
    font-size: 50px;
    color: white;
   
}
.servim3 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
    color: white;
}
.servim3 p{
    color: white;
   
}

@media(max-width:667px){
    
.servim1 i{
    font-size: 30px;
    color: white;
   
}
.servim1 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    color: white;
}
.servim1 p{
    color: white;
    font-size: 13px;
   
}

.servim2 i{
    font-size: 30px;
    color: white;
   
}
.servim2 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    color: white;
}
.servim2 p{
    color: white;
    font-size: 13px;
   
}

.servim3 i{
    font-size: 30px;
    color: white;
   
}
.servim3 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    color: white;
}
.servim3 p{
    color: white;
    font-size: 13px;
   
}
}
/* teamword section started */

.teamwork{
    height: 500px;
    width: 100%;
    padding: 3%;
    background: rgb(44, 44, 73);
  float: left;
}

.team-img{
    height: 100%;
    width: 40%;
    float: left;
    background-image: url(images/grp-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    transform:rotate(-2deg);
    margin-right: 5%;
}

.team-info{
    height: 100%;
    width: 50%;
    float: left;
   
}
.team-info div{
    height: 30%;
    width: 100%;
    float: left;
    margin-bottom: 3%;
    border-radius: 20px;
    background: whitesmoke;padding-top: 1%;padding-bottom: 1%;
   
}

.team-info div div{
    height: 100%;
    width: 15%;
    
    float: left;
    background: #5fb9d4;
    border-radius: 100%;
    margin-left: 1%;
    margin-right: 3%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: x-large;
}

@media(max-width:667px){
    
.teamwork{
    height: 1000px;
    width: 100%;
    padding: 3%;
    background: rgb(44, 44, 73);
  float: left;
}
.team-img{
    height: 45%;
    width: 100%;
    float: left;
    background-image: url(images/grp-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    transform:rotate(-2deg);
    margin-right: 5%;
}

.team-info{
    height: 45%;
    width: 100%;
    float: left;
    margin-top: 50px;
   
}
}

/* how we worrk started */

.howwework{
    height: 1100px;
    padding: 5%;
    width: 100%;
    float: left;
    color: white;
 
   background-color: rgb(44, 44, 73);
}
.howwework h1{
    font-size: 50px;
}
.howwework img{
    margin-top: 3%;
    margin-left: 15%;
    height: 70%;
    width: 60%;
}
.howwework button{
    height: 50px;
    width: 20%;
    margin-left: 40%;
    background: transparent;
    border-radius: 50px;
    font-size: x-large;
    color: white;
}

@media(max-width:667px){

    .howwework{
        padding: 0%;
    }
.howwework img{
    margin-top: 3%;
    margin-left: 0%;
    height: 50%;
    width: 100%;
}
.howwework button{
    height: 50px;
    width: 40%;
    margin-left: 30%;
    background: transparent;
    border-radius: 50px;
    font-size: x-large;
    color: white;
}

}

/* frequentlyy asked  questions started */


.freqs{
    height: 600px;
    width: 100%;
    padding: 3%;
    background: rgb(44, 44, 73);
  float: left;
  padding-bottom: 10%;
  
}

.freqs-img{
    height: 100%;
    width: 40%;
    float: left;
    color: white;
    margin-right: 5%;
    padding-top: 5%;
}
.freqs-img h1{
    font-size: 60px;
}

.freqs-info{
    height: 100%;
    width: 50%;
    float: left;
   
}
.freqs-info div{
    height: 13%;
    width: 100%;
    float: left;
    margin-bottom: 4%;
 
    background: whitesmoke;padding: 1%;
   
}


@media(max-width:667px){
    
.freqs{
    height: 1000px;
    width: 100%;
    padding: 3%;
    background: rgb(44, 44, 73);
  float: left;
}
.freqs-img{
    height: 45%;
    width: 100%;
    float: left;
 
    margin-right: 5%;
}

.freqs-info{
    height: 45%;
    width: 100%;
    float: left;
    margin-top: 50px;
   
}
}

footer{
    height: 500px;
    width: 100%;
    float: left;padding:5%;
    background: ;
    background-image: linear-gradient(rgb(44, 44, 73),rgb(189, 189, 204));

}
.foot-div1{
    height: 100%;
    width: 30%;
    float: left;
  

}
.foot-div1 div{
    height: 20%;
    width: 60%;
    background-image: url(images/Get-Digital-Final-Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.foot-div1 input{
    background-color: transparent; border: none; border-bottom: 3px solid white;
    font-size: larger; width: 50%;
}
.foot-div1 button{
    height: 40px;
    width: 35%;
    margin-left: 5%;
    font-size: larger;
    color: white;
    border-radius: 30px;
    background-image: linear-gradient(to right,rgb(89, 89, 223),rgb(165, 165, 226),rgb(98, 98, 243));
}
.foot-div1 i{
    font-size: xx-large;
    color: orange;
    margin-right: 5%;
}



.foot-div2{
    height: 100%;
    width: 40%;
    color: white;
    float: left;
   padding: 5%;
}
.divl{
    height: 100%;
    width: 50%;
    float: left;
}

.divl{
    height: 100%;
    float: left;
    width: 50%;
}
.foot-div2 li{
    list-style: none;
    margin-bottom: 5%;
}


.foot-div3{
    height: 100%;
    width: 30%;
    float: left;
  padding-top: 5%;
  color: white;
}

.foot-div3 li{
    list-style: none;
    margin-bottom: 5%;
    
}

.foot-div3 i{
    font-size: xx-large;
    color: orange;
    margin-right: 5%;
}
.main-foot{
    height: 50px;
     width: 100%;
     float: left;
    background: rgb(44, 44, 73);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:667px){
    footer{
        height: 900px;
    }
    .foot-div1{
        height: 33%;
        width: 100%;
        
    }
    .foot-div2{
        height: 33%;
        width: 100%;

    }
    .foot-div3{
        height: 33%;
        width: 100%;

    }
    
}