.header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

.navbar {
  margin-top: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: none;
  color: red;
}
