* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;

}


.main {
    height: 600px;
    width: 100%;

}

.nav {
    height: 70px;
    width: 100%;


}

.logo {
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-image: url(logo-mediplus.png);
    margin-top: 1%;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
}

.links {
    height: 100%;
    width: 50%;
    float: left;
    margin-bottom: 0px;



}










.links ul {
    display: flex;
    align-items: center;

    justify-content: center;
    height: 100%;
}

.links li {
    display: block;
    height: 100%;
    padding: 3%;


}

.links li:hover {
    color: #1A76D1;
}

.nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #007BFF;
    /* You can change the color */
    left: 0;
    bottom: 0px;
    transition: 0.3s ease-in-out;
}

.nav ul li:hover::after {
    width: 100%;
}

.active {
    color: #1A76D1;
    /* border-bottom: 3px solid #1A76D1; */
}
.book-button {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

 button {
    height: 75%;
    width: 65%;
    border: none;
    font-size: 1.0rem;
    background: #1A76D1;
    border-radius: 5px;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    border-radius: 5px;
}

 button:hover::before {
    transform: translateX(-50%) scaleX(1);
}

 button:hover {
    color: white;
}

#btn2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 100%;
    background-color: #398fe6;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    border-radius: 5px;
}

 #btn2:hover::before {
    transform: translateX(-50%) scaleX(1);
}


.links i {
    margin-left: 5px;
}

.dropdown-box-pages {
    display: none;
    position: absolute;
}

@media(max-width:1000px) {
    .book-button {
        visibility: hidden;
    }

    .links {
        width: 60%;
    }

    .logo {
        width: 30%;
    }
}

@media(max-width:700px) {
    .links {
        width: 0%;
        visibility: hidden;
    }

    .book-button {
        visibility: visible;
        float: right;
        width: 45%;
    }

    .logo {
        overflow: visible;
        width: 50%;
        margin-left: 0px;
    }
}

.dropdown-box {
    visibility: hidden;
    margin-top: 21%;

}

.dropdown-box li {
    padding: 5%;
    /* border-right: 3px solid #1A76D1;
    border-bottom: 3px solid #1A76D1; */
    box-shadow: 5px 5px 10px 0px whitesmoke;
    transform: scaleX(1.6);
    background: white;
    margin-top: 17%;
    color: #000;
    height: 40px;
    font-size: small;

}

.dropdown-box a {
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-box {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-box {
    display: block;
    visibility: visible;
}

/* navbar completed */
.intro-body {
    height: 700px;
    width: 100%;

    background: #8DD8DE;
    background-image: url(bg-doctor1.jpg);
    background-size: cover;

    background-repeat: no-repeat;
}

.doc-info {
    height: 100%;
    width: 50%;
    padding: 5%;

}

.doc-info span {
    color: #1A76D1;
}

.doc-info h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
}

.doc-buttons {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;


}

#btn1 {
    height: 60%;
    font-size: medium;
    width: 50%;
    background: #1A76D1;
    color: white;
    border-radius: 5px;
    border: none;
}

#btn2 {
    height: 60%;
    font-size: medium;
    width: 40%;
    background: #2c2d3f;
    color: white;
    border-radius: 5px;
    border: none;
}

/* intro body completed */

.schedules {
    height: 250px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;

}

.s-div1 {
    height: 120%;
    width: 30%;
    border-radius: 5px;
    margin-top: -150px;
    background: #1A76D1;
    padding: 3%;
    color: white;
}

.s-div1 h4:hover {
    border-bottom: 2px solid white;
}

.s-div1:hover {
    margin-bottom: 15px;
    transition: 0.3s;
    box-shadow: 0px 40px 20px -25px #398fe6;
}


.s-div2 {
    height: 120%;
    width: 30%;
    border-radius: 5px;
    margin-top: -150px;
    background: #1A76D1;
    padding: 3%;
    color: white;
}

.s-div2 h4:hover {
    border-bottom: 2px solid white;
}

.s-div2:hover {
    margin-bottom: 15px;
    transition: 0.3s;
    box-shadow: 0px 40px 20px -25px #398fe6;
}

.s-div3 {
    height: 120%;
    width: 30%;
    border-radius: 5px;
    margin-top: -150px;
    background: #1A76D1;
    padding: 3%;
    color: white;
}

.s-div3 h4:hover {
    border-bottom: 2px solid white;
}

.s-div3:hover {
    margin-bottom: 15px;
    transition: 0.3s;
    box-shadow: 0px 40px 20px -25px #398fe6;
}

/* .schedules div completed */

.features {
    height: 900px;
    width: 100%;


}

#title {
    height: 30%;
}

.features h1 {
    font-size: 40px;
    padding-left: 25%;
    padding-right: 25%;
}

.features p {
    padding-left: 25%;
    padding-right: 25%;
    color: #757575;
}

.f-div2 {
    height: 40%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-leftdiv {
    width: 30%;
    height: 100%;
    padding: 2%;

    color: black;
    overflow: hidden;

}

.f-leftdiv .logo-med {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}

.f-leftdiv p {
    padding: 0%;
    overflow: hidden;
    text-align: center;
    color: #757575;

}


.f-middiv {
    width: 30%;
    height: 100%;
    padding: 2%;

    color: black;
    overflow: hidden;

}

.f-middiv .logo-med {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}

.f-middiv p {
    padding: 0%;
    overflow: hidden;
    text-align: center;
    color: #757575;
}


.f-rightdiv {
    width: 30%;
    height: 100%;
    padding: 2%;

    color: black;
    overflow: hidden;

}

.f-rightdiv .logo-med {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}

.logo-med:hover {
    color: white;
    background: #398fe6;
}

.f-rightdiv p {
    padding: 0%;
    overflow: hidden;
    text-align: center;
    color: #757575;
}

.f-div3 {

    height: 30%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: space-between;
    background-image: url(doctors-shaking-hands-close-up.jpg);
    background-size: cover;
    background-color: #398fe6;
    background-blend-mode: overlay;

    background-repeat: no-repeat;

}

.f-div3 div {
    width: 24%;
    height: 35%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-div3 div #internal1 {
    height: 100%;
    width: 30%;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.f-div3 div #internal2 {
    height: 100%;
    width: 67%;
    display: block;
    color: white;
    padding: 10%;
}

#internal2 h2,
h4 {
    height: 50%;


    width: 100%;

}

#internal1:hover {
    background: #398fe6;

}


.whoweare{
    padding: 5%;
    height: 1300px;
    width: 100%;

}

#w-title {
    height: 30%;
  
}

.whoweare h1 {
    font-size: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.whoweare p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: medium;
    color: #757575;
}
.w-div2{
    height: 30%;
    width: 100%;
   
}
.w-div2 h3{
    width: fit-content;
    border-bottom:3px solid #398fe6;
}
.w-info{
 height: 100%;
 width: 50%;
 float: left;

 padding: 3%;
}

.w-info p{
    padding: 0%;
    color: #757575;
}
.w-videolist1{
    height: 45%;
    width: 50%;
    margin-top: 5%;
  
    float: left;
}

.w-videolist1 li{
    list-style: none;
    margin-bottom: 5%;
    color: #757575;
}

.w-videolist1 i{
    margin-right: 4%;
    color: #398fe6;
}


.w-video {
    height: 100%;
    width: 50%;
    float: left;
    background-image: url(video-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  
  .wave-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
  }
  
  .wave {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    animation: pulse 3s linear infinite;
  }
  
  .wave2 {
    animation-delay: 1s;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .wave3 {
    animation-delay: 2s;
    background: rgba(255, 255, 255, 0.1);
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(2.2);
      opacity: 0;
    }
  }
  
  /* Play button in center */
  .center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-icon i{
  font-size:70px;
  color: #398fe6;
  transition: font-size 0.3s ease;
  }
  
  
  .center-icon i:hover{
    font-size:80px;
   
    }


.w-div3{
    height: 35%;
    width: 100%;
  background-image: url(call-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    margin-top: 5%;
  
    background-blend-mode: overlay;
}
.w-div3-info{
    height: 100%;
    width: 100%;
    background-color: rgba(50, 103, 218, 0.5); 
    display: flex;  color: white;
    align-items: center;
    justify-content: center;
}
.w-div3-info div{
 padding-left: 25%;
 padding-right: 25%;
 padding-top: 0%;
}
.w-div3-info p{
color: white;
}
.w-div3-info div h2{
    font-size: 32px;
  

}
.w-div3-info button{
    width: 25%;
    height: 50px;
}
#btn3{
    color:#398fe6;
    background: white;
}
#btn4{
    background: transparent;
    border: 2px solid white;
}
#btn4 i{
    margin-left: 4%;
}
/* <!-- who we are section complete --> */
.cleanness{
    height: 600px;
    width: 100%;
   
}

#c-title {
    height: 50%;
  
}  
#c-title h1{
    font-size: 40px;
}
.c-images{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.c-images .img1{
    height: 70%;
    width: 18%;
   background-image: url(pf1-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img2{
    height: 70%;
    width: 18%;
   background-image: url(pf2-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img3{
    height: 70%;
    width: 18%;
   background-image: url(pf3-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img4{
    height: 70%;
    width: 18%;
   background-image: url(pf4-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img5{
    height: 70%;
    width: 18%;
   background-image: url(blog1-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}

/* cleanliness div completed */
.services{
    height: 800px;
    padding: 3%;
    width: 100%;
    background: whitesmoke;
  
}
#s-title {
    height: 30%;
  
}  
#s-title h1{
    font-size: 40px;
}
.s-serves{
    height: 70%;
    width: 100%;
    margin-top: 5%;
  box-sizing: border-box;
}
.s-serves .serv1{
    height: 40%;
    width: 30%;
    float: left;

 margin-bottom: 2%;
 margin-left: 2.3%;
 
   background-size: cover;
   background-repeat: no-repeat
}

.sdiv-top{
    height: 40%;
    width: 100%;
    overflow: hidden;
    padding: 5%;
  
}
.sdiv-top i{
    height: 100%;
    font-size: 50px;
   width: 20%;float: left;
   color: #398fe6;
  
}
.sdiv-top h4{
    height: 100%;
    width: 70%;
    float: left;
}
.sdiv-top div{
    width: 30%;
    height: 100%;
    display: block;
}
.sdiv-botm{
    height: 60%;
    width: 100%;
  padding-left: 20%;
}
/* services div completed */
.prices{
    height: 800px;
    padding: 3%;
    width: 100%;
}


#p-title {
    height: 30%;
  
}  
#p-title h1{
    font-size: 40px;
}
.p-serves{
    height: 70%;
    width: 100%;
    margin-top: 5%;
    display: flex;
align-items: center;
justify-content: center;

}
.p-serves .serv1{
    height: 95%;
    width: 27%;
    float: left;
border:  1px solid #808080;
 margin-bottom: 2%;
 margin-left: 2.3%;
 
   background-size: cover;
   background-repeat: no-repeat
}


.pdiv-top{
    height: 40%;
    width: 100%;
    overflow: hidden;
    padding: 5%;
   padding-bottom: 0px;
  
}
.pdiv-top i{
    height: 100%;
    font-size: 50px;
   width: 100%;
 
   color: #398fe6;
  
}
.pdiv-top h3{
   padding-top: 5%;
   padding-bottom: 5%;
    width: 100%;
    float: left;
    font-size: 30px;
}
.pdiv-top div{
    width: 30%;
    height: 100%;
    display: block;
}

.pdiv-mid{
    height: 45%;
    width: 100%;
    padding: 8%;
padding-top: 2%;
   
  
}
.pdiv-mid li{
    list-style: none;
    margin-top: 5%;
}
.pdiv-mid i{
    float: right;
    color: #398fe6;
    font-size: larger;
}
.pdiv-bottom{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  
}
.pdiv-bottom button{
    background: #398fe6;
    color: white;
}