* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    margin: 0px;
overflow-x: hidden;
}


.main {
    height: 600px;
    max-width: 100%;
   display: flexbox;

}

.nav {
    height: 70px;
    width: 100%;


}

.logo {
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-image: url(logo-mediplus.png);
    margin-top: 1%;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
}

.links {
    height: 100%;
    width: 50%;
    float: left;
    margin-bottom: 0px;



}


.links ul {
    display: flex;
    align-items: center;

    justify-content: center;
    height: 100%;
}

.links li {
    display: block;
    height: 100%;
    padding: 3%;


}

.links #l1:hover {
    color: #1A76D1;
}

.nav ul #l1 {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.nav ul #l1::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #007BFF;
    /* You can change the color */
    left: 0;
    bottom: 0px;
    transition: 0.3s ease-in-out;
}

.nav ul #l1:hover::after {
    width: 100%;
}



/* drop down left animation */


.dropdown ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.dropdown ul li::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 0%;
    background-color: #007BFF;
    /* You can change the color */
    left: 0;
    top: 0px;
  
    transition: 0.3s ease-in-out;
}

.dropdown ul li:hover::after {
    height: 100%; 
}







.active {
    color: #1A76D1;
    /* border-bottom: 3px solid #1A76D1; */
}
.book-button {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

 button {
    height: 75%;
    width: 65%;
    border: none;
    font-size: 1.0rem;
    background: #1A76D1;
    border-radius: 5px;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    border-radius: 5px;
}

 button:hover::before {
    transform: translateX(-50%) scaleX(1);
}

 button:hover {
    color: white;
}

#btn2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 100%;
    background-color: #398fe6;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    border-radius: 5px;
}

 #btn2:hover::before {
    transform: translateX(-50%) scaleX(1);
}


.links i {
    margin-left: 5px;
}

.dropdown-box-pages {
    display: none;
    position: absolute;
}

@media(max-width:1000px) {
    .book-button {
        visibility: hidden;
    }

    .links {
        width: 60%;
    }

    .logo {
        width: 30%;
    }
}

@media(max-width:700px) {
    .links {
        width: 0%;
        visibility: hidden;
    }

    .book-button {
        visibility: visible;
        float: right;
        width: 45%;
    }

    .logo {
        overflow: visible;
        width: 50%;
        margin-left: 0px;
    }
}

.dropdown-box {
    visibility: hidden;
    margin-top: 21%;
margin-left: -30%;
}

.dropdown-box li {
    padding: 15%;
    /* border-right: 3px solid #1A76D1;
    border-bottom: 3px solid #1A76D1; */
    box-shadow: 5px 5px 10px 0px whitesmoke;
    /* transform: scaleX(1.6); */
    background: white;
    margin-top: 17%;
    color: #000;
    height: 50px;
    /* padding-top: 20%; */
    
    width: max-content;
    font-size: medium;

}

.dropdown-box a {
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-box {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-box {
    display: block;
    visibility: visible;
}

/* navbar completed */
.intro-body {
    height: 700px;
    max-width: 100%;

    background: #8DD8DE;
    background-image: url(bg-doctor1.jpg);
    background-size: cover;

    background-repeat: no-repeat;
}

.doc-info {
    height: 100%;
    width: 50%;
    padding: 5%;

}

.doc-info span {
    color: #1A76D1;
}

.doc-info h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
}

.doc-buttons {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;


}

#btn1 {
    height: 60%;
    font-size: medium;
    width: 50%;
    background: #1A76D1;
    color: white;
    border-radius: 5px;
    border: none;
}

#btn2 {
    height: 60%;
    font-size: medium;
    width: 40%;
    background: #2c2d3f;
    color: white;
    border-radius: 5px;
    border: none;
}

@media(max-width:700px) {
    .intro-body {
        height: 600px;
    }
.doc-info{
    width: 100%;
}
.doc-info h1{
    font-size: 30px;
}
.doc-buttons{
    width: 100%;
    height: 40%;
    display: flexbox;
    align-items:center;
    justify-content: center;
}
#btn1{
    width: 100%;
    height: 60px;
margin-right: 5%;
}
#btn2{width: 100%;
    height: 60px;}
}
/* intro body completed */

.schedules {
    height: 250px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;

}

.s-div1 {
    height: 120%;
    width: 30%;
    border-radius: 5px;
    margin-top: -150px;
    background: #1A76D1;
    padding: 3%;
    color: white;
}

.s-div1 h4:hover {
    border-bottom: 2px solid white;
}

.s-div1:hover {
    margin-bottom: 15px;
    transition: 0.3s;
    box-shadow: 0px 40px 20px -25px #398fe6;
}


.s-div2 {
    height: 120%;
    width: 30%;
    border-radius: 5px;
    margin-top: -150px;
    background: #1A76D1;
    padding: 3%;
    color: white;
}

.s-div2 h4:hover {
    border-bottom: 2px solid white;
}

.s-div2:hover {
    margin-bottom: 15px;
    transition: 0.3s;
    box-shadow: 0px 40px 20px -25px #398fe6;
}

.s-div3 {
    height: 120%;
    width: 30%;
    border-radius: 5px;
    margin-top: -150px;
    background: #1A76D1;
    padding: 3%;
    color: white;
}

.s-div3 h4:hover {
    border-bottom: 2px solid white;
}

.s-div3:hover {
    margin-bottom: 15px;
    transition: 0.3s;
    box-shadow: 0px 40px 20px -25px #398fe6;
}

@media(max-width:700px) {

    .schedules{
        height: 800px;
        display: block;
        padding-left: 5%;
        padding-right: 5%;
       
    }
    .s-div1 {
        height: 33%;
        width: 100%;
        border-radius: 5px;
      
        background: #1A76D1;
        padding: 7%;
        color: white;
    }
    
.s-div2 {
    height: 33%;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    background: #1A76D1;
    padding: 7%;
    color: white;
}
.s-div3 {
    height: 33%;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    background: #1A76D1;
    padding: 7%;
    color: white;
}

}
/* .schedules div completed */



.features {
    height: 900px;
    width: 100%;


}



#title {
    height: 30%;
}

.features h1 {
    font-size: 40px;
    padding-left: 25%;
    padding-right: 25%;
}

.features p {
    padding-left: 25%;
    padding-right: 25%;
    color: #757575;
}

@media(max-width:700px) {

    
.features {
    height: 1800px;
    width: 100%;
padding-top: 10%;

}
#title {
    height: 20%;
}


.features h1 {
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.features p {
    padding-left: 5%;
    padding-right: 5%;
    color: #757575;
}

}
.f-div2 {
    height: 40%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.f-leftdiv {
    width: 30%;
    height: 100%;
    padding: 2%;

    color: black;
    overflow: hidden;

}

.f-leftdiv .logo-med {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}

.f-leftdiv p {
    padding: 0%;
    overflow: hidden;
    text-align: center;
    color: #757575;

}


.f-middiv {
    width: 30%;
    height: 100%;
    padding: 2%;

    color: black;
    overflow: hidden;

}

.f-middiv .logo-med {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}

.f-middiv p {
    padding: 0%;
    overflow: hidden;
    text-align: center;
    color: #757575;
}


.f-rightdiv {
    width: 30%;
    height: 100%;
    padding: 2%;

    color: black;
    overflow: hidden;

}


.f-rightdiv .logo-med {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}


@media(max-width:700px) {
    .f-div2 {
        height: 50%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        display: block;
       
    }
    
    .f-leftdiv {
        width: 100%;
        height: 33%;
        padding: 2%;
    
        color: black;
        overflow: hidden;
    
    }
    .f-middiv {
        width: 100%;
        height: 33%;
        padding: 2%;
    
        color: black;
        overflow: hidden;
    
    }
    
.f-rightdiv {
    width: 100%;
    height: 33%;
    padding: 2%;

    color: black;
    overflow: hidden;

}
.f-rightdiv .logo-med {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 30%;
    border: 2px solid #8DD8DE;
    border-radius: 50%;
    height: 35%;
    color: #398fe6;
    font-size: 50px;

}


    
}
.logo-med:hover {
    color: white;
    background: #398fe6;
}

.f-rightdiv p {
    padding: 0%;
    overflow: hidden;
    text-align: center;
    color: #757575;
}

.f-div3 {

    height: 30%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: space-between;
    background-image: url(doctors-shaking-hands-close-up.jpg);
    background-size: cover;
    background-color: #398fe6;
    background-blend-mode: overlay;

    background-repeat: no-repeat;

}


.f-div3 div {
    width: 24%;
    height: 35%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:700px) {
   .f-div3{
    height: 30%;
    display: block;
    padding-top: 3%;
    padding-left: 20%;
   }
   .f-div3 div {
    width: 100%;
    height: 20%;
margin-bottom: 5%;
   margin-top: 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-div3 div #internal1 {
    height: 50%;
    width: 70%;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid white;
}


}
.f-div3 div #internal1 {
    height: 100%;
    width: 30%;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.f-div3 div #internal2 {
    height: 100%;
    width: 67%;
    display: block;
    color: white;
    padding: 10%;
}

#internal2 h2,
h4 {
    height: 50%;


    width: 100%;

}

#internal1:hover {
    background: #398fe6;

}


/* who we are started */



.whoweare{
    padding: 5%;
    height: 1300px;
    width: 100%;

}

#w-title {
    height: 30%;
  
}


.whoweare h1 {
    font-size: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.whoweare p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: medium;
    color: #757575;
}

.w-div2{
    height: 30%;
    width: 100%;
   
}

.w-div2 h3{
    width: fit-content;
    border-bottom:3px solid #398fe6;
}
.w-info{
 height: 100%;
 width: 50%;
 float: left;

 padding: 3%;
}


.w-info p{
    padding: 0%;
    color: #757575;
}
.w-videolist1{
    height: 45%;
    width: 50%;
    margin-top: 5%;
  
    float: left;
}

.w-videolist1 li{
    list-style: none;
    margin-bottom: 5%;
    color: #757575;
}

.w-videolist1 i{
    margin-right: 4%;
    color: #398fe6;
}


.w-video {
    height: 100%;
    width: 50%;
    float: left;
    background-image: url(video-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  


  @media(max-width:700px) {

    .whoweare{
        height: 1500px;
    }
    #w-title {
        height: 20%;
       padding-top: 5%;
    }
    .whoweare h1 {
        font-size: 30px;
        padding-left: 0%;
        padding-right: 0%;
    }
    .whoweare p {
        padding-left: 0%;
        padding-right: 0%;
        font-size: medium;
        color: #757575;
    }
    .w-div2{
        height: 55%;
     display: block;
    }

    .w-info{
        height: 60%;
        width: 100%;
        float: left;
       
        padding: 3%;
       }

       .w-video {
        height: 40%;
        width: 100%;
        float: left;
        background-image: url(video-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
      }
      
}
  .wave-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
  }
  
  .wave {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    animation: pulse 3s linear infinite;
  }
  
  .wave2 {
    animation-delay: 1s;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .wave3 {
    animation-delay: 2s;
    background: rgba(255, 255, 255, 0.1);
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(2.2);
      opacity: 0;
    }
  }
  
  /* Play button in center */
  .center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-icon i{
  font-size:70px;
  color: #398fe6;
  transition: font-size 0.3s ease;
  }
  
  
  .center-icon i:hover{
    font-size:80px;
   
    }


.w-div3{
    height: 35%;
    width: 100%;
  background-image: url(call-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    margin-top: 5%;
  
    background-blend-mode: overlay;
}


.w-div3-info{
    height: 100%;
    width: 100%;
    background-color: rgba(50, 103, 218, 0.5); 
    display: flex;  color: white;
    align-items: center;
    justify-content: center;
}
.w-div3-info div{
 padding-left: 25%;
 padding-right: 25%;
 padding-top: 0%;
}

.w-div3-info p{
color: white;
}
.w-div3-info div h2{
    font-size: 32px;
  

}


.w-div3-info button{
    width: 25%;
    height: 50px;
}

#btn3{
    color:#398fe6;
    background: white;
}
#btn4{
    background: transparent;
    border: 2px solid white;
}
#btn4 i{
    margin-left: 4%;
}


@media(max-width:700px) {
    .w-div3{
        height: 25%;
        width: 100%;
      background-image: url(call-bg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
        margin-top: 1%;
      
        background-blend-mode: overlay;
    }
    .w-div3-info div{
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0%;
       }

       .w-div3-info div h2{
        font-size: 25px;
      
    
    }

    .w-div3-info button{
        width: 40%;
        height: 50px;
    }
}

/* <!-- who we are section complete --> */
.cleanness{
    height: 600px;
    width: 100%;
   
}

#c-title {
    height: 50%;
  
}  

#c-title h1{
    font-size: 40px;
}
.c-images{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.c-images .img1{
    height: 70%;
    width: 18%;
   background-image: url(pf1-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}


.c-images .img2{
    height: 70%;
    width: 18%;
   background-image: url(pf2-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img3{
    height: 70%;
    width: 18%;
   background-image: url(pf3-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img4{
    height: 70%;
    width: 18%;
   background-image: url(pf4-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}
.c-images .img5{
    height: 70%;
    width: 18%;
   background-image: url(blog1-for\ clean.jpg);
   background-size: cover;
   background-repeat: no-repeat
}



@media(max-width:700px) {
    .cleanness{
        height: 2000px;
        width: 100%;
       padding: 5%;
    }
    #c-title {
        height:15%;
      
    }  
    #c-title h1{
        font-size: 30px;
    }

    .c-images{
        height: 80%;
        width: 100%;
       padding-top: 10%;
        display: block;
        align-items: center;
        justify-content: center;
    
    }

    .c-images .img1{
        height: 20%;
        width: 100%;
        margin-bottom: 5%;
       background-image: url(pf1-for\ clean.jpg);
       background-size: cover;
       background-repeat: no-repeat
    }
    .c-images .img2{
        height: 20%;
        width: 100%;
       background-image: url(pf2-for\ clean.jpg);
       background-size: cover;
       margin-bottom: 5%;
       background-repeat: no-repeat
    }
    .c-images .img3{
        height: 20%;
        width: 100%;
        margin-bottom: 5%;
       background-image: url(pf3-for\ clean.jpg);
       background-size: cover;
       background-repeat: no-repeat
    }
    .c-images .img4{
        height: 20%;
        margin-bottom: 5%;
        width: 100%;
       background-image: url(pf4-for\ clean.jpg);
       background-size: cover;
       background-repeat: no-repeat
    }
    .c-images .img5{
        height: 20%;
        width: 100%;
        margin-bottom: 5%;
       background-image: url(blog1-for\ clean.jpg);
       background-size: cover;
       background-repeat: no-repeat
    }
    
}

/* cleanliness div completed */
.services{
    height: 800px;
    padding: 3%;
    width: 100%;
    background: whitesmoke;
  
}
#s-title {
    height: 30%;
  
}  
#s-title h1{
    font-size: 40px;
}


.s-serves{
    height: 70%;
    width: 100%;
    margin-top: 5%;
  box-sizing: border-box;
}
.s-serves .serv1{
    height: 40%;
    width: 30%;
    float: left;

 margin-bottom: 2%;
 margin-left: 2.3%;
 
   background-size: cover;
   background-repeat: no-repeat
}

.sdiv-top{
    height: 40%;
    width: 100%;
    overflow: hidden;
    padding: 5%;
  
}
.sdiv-top i{
    height: 100%;
    font-size: 50px;
   width: 20%;float: left;
   color: #398fe6;
  
}
.sdiv-top h3{
    height: 100%;
    width: 70%;
    float: left;
}
.sdiv-top div{
    width: 30%;
    height: 100%;
    display: block;
}
.sdiv-botm{
    height: 60%;
    width: 100%;
  padding-left: 20%;
}

@media(max-width:700px) {

    .services{
        height: 1100px;
        padding: 3%;
        width: 100%;
        background: whitesmoke;
      overflow: hidden;
    }
    #s-title {
        height: 20%;
      
    }  
    #s-title h1{
        font-size: 20px;
    }

    #s-title p{
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    .s-serves{
        height: 80%;
        width: 100%;
        margin-top: 5%;
      box-sizing: border-box;
    }
    .s-serves .serv1{
        height: 30%;
        width: 45%;
        float: left;
    
  margin-bottom: 5%;
     margin-left: 1%;
     
       background-size: cover;
       background-repeat: no-repeat
    }

    
.sdiv-top{
    height: 30%;
    width: 100%;
    overflow: hidden;
    padding: 5%;
  
}
.sdiv-top i{
    height: 100%;
    font-size: 25px;
   width: 20%;float: left;
   color: #398fe6;
  
}
.sdiv-top h3{
    height: 100%;
    width: 70%;
    float: left;
    font-size: 18px;
}
.sdiv-top div{
    width: 30%;
    height: 100%;
    display: block;
}
.sdiv-botm{
    height: 60%;
    width: 100%;
  padding-left: 20%;
  font-size: medium;
  text-align: justify;
}
}
/* services div completed */
.prices{
    height: 800px;
    padding: 3%;
    width: 100%;
}


#p-title {
    height: 30%;
  
}  

#p-title h1{
    font-size: 40px;
}
.p-serves{
    height: 70%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.p-serves .serv1{
    height: 95%;
    width: 27%;
    float: left;
border:  1px solid #808080;
 margin-bottom: 2%;
 margin-left: 2.3%;
 
   background-size: cover;
   background-repeat: no-repeat
}


@media(max-width:700px) {

    .prices{
        height: 1800px;
        padding: 3%;
        width: 100%;
    }
    
    
    #p-title {
        height: 15%;
        padding-top: 5%;
      
    }  

    #p-title h1{
        font-size: 20px;
    }
    .p-serves{
        height: 90%;
        width: 100%;
        margin-top: 5%;
        display: block;
        align-items: center;
        justify-content: center;
    
    }
    .p-serves .serv1{
        height: 30%;
        width: 100%;
        float: left;
    border:  1px solid #808080;
     margin-bottom: 2%;
     margin-left: 0px;
     
       background-size: cover;
       background-repeat: no-repeat
    }
    
}


.pdiv-top{
    height: 40%;
    width: 100%;
    overflow: hidden;
    padding: 5%;
   padding-bottom: 0px;
  
}
.pdiv-top i{
    height: 100%;
    font-size: 50px;
   width: 100%;
 
   color: #398fe6;
  
}
.pdiv-top h3{
   padding-top: 5%;
   padding-bottom: 5%;
    width: 100%;
    float: left;
    font-size: 30px;
}
.pdiv-top div{
    width: 30%;
    height: 100%;
    display: block;
}

.pdiv-mid{
    height: 45%;
    width: 100%;
    padding: 8%;
padding-top: 2%;
   
  
}
.pdiv-mid li{
    list-style: none;
    margin-top: 5%;
}
.pdiv-mid i{
    float: right;
    color: #398fe6;
    font-size: larger;
}
.pdiv-bottom{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  
}
.pdiv-bottom button{
    background: #398fe6;
    color: white;
}

/* new div started */

.news{
    height: 900px;
    padding: 3%;
    width: 100%;
}


#n-title {
    height: 50%;
    padding-top: 5%;
  
}  
#n-title h1{
    font-size: 40px;
}




.n-serves{
    height: 50%;
    width: 100%;
  margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
align-items: center;
justify-content: space-between;

}
.n-serves .serv1{
    height: 95%;
    width: 32%;
    float: left;
border:  1px solid #808080;
 margin-bottom: 2%;

 overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat
}

.ndiv-top1{
    height: 50%;
    width: 100%;
    overflow: hidden;
  background-image: url(blog1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.ndiv-top2{
    height: 50%;
    width: 100%;
    overflow: hidden;
  background-image: url(blog2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.ndiv-top3{
    height: 50%;
    width: 100%;
    overflow: hidden;
  background-image: url(blog3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}


.ndiv-bottom1{
    height: 50%;
    width: 100%;
   
    padding: 10%;
  
  
}

.date{
    height: 20%;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    background: #398fe6;
    color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: 5px;

}
.ndiv-bottom1 p{
    float: left;
    font-size: 15px ;
    color: #808080;
    text-align: justify;
    padding-top: 5%;
}

.ndiv-bottom1 h3{
    float: left;
    padding-top: 5%;
}

.ndiv-bottom2{
    height: 50%;
    width: 100%;
   
    padding: 10%;
  
  
}

.date{
    height: 20%;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    background: #398fe6;
    color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: 5px;

}
.ndiv-bottom2 p{
    float: left;
    font-size: 15px ;
    color: #808080;
    text-align: justify;
    padding-top: 5%;
}

.ndiv-bottom2 h3{
    float: left;
    padding-top: 5%;
}



.ndiv-bottom3{
    height: 50%;
    width: 100%;
   
    padding: 10%;
  
  
}

.date{
    height: 20%;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    background: #398fe6;
    color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: 5px;

}
.ndiv-bottom3 p{
    float: left;
    font-size: 15px ;
    color: #808080;
    text-align: justify;
    padding-top: 5%;
}

.ndiv-bottom3 h3{
    float: left;
    padding-top: 5%;
   
}



.ndiv-bottom1 {
    position: relative;
    overflow: hidden;
}
@media(max-width:700px) {
    .news {
        height: auto;
        padding: 3%;
        width: 100%;
    }

    #n-title {
        height: auto;
        padding-top: 5%;
    }

    #n-title h1 {
        font-size: 20px;
    }

    .n-serves {
        display: block !important;
        height: auto;
        width: 100%;
        margin-top: 5%;
    }

    .n-serves .serv1 {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
        float: none;
        border: 1px solid #808080;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ndiv-top1,
    .ndiv-top2,
    .ndiv-top3 {
        height: 200px; /* adjust as needed */
    }
}


/* Border element, initially hidden */
.ndiv-bottom1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #007BFF; /* Customize color */
    transition: width 0.5s ease-out;
}

/* Animate border on hover */
.ndiv-bottom1:hover::after {
    width: 100%;
}

.ndiv-bottom2 {
    position: relative;
    overflow: hidden;
}

/* Border element, initially hidden */
.ndiv-bottom2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #007BFF; /* Customize color */
    transition: width 0.5s ease-out;
}

/* Animate border on hover */
.ndiv-bottom2:hover::after {
    width: 100%;
}

.ndiv-bottom3 {
    position: relative;
    overflow: hidden;
}

/* Border element, initially hidden */
.ndiv-bottom3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #007BFF; /* Customize color */
    transition: width 0.5s ease-out;
}

/* Animate border on hover */
.ndiv-bottom3:hover::after {
    width: 100%;
}


/* new div completed */

.brands{
    height: 250px;
    width: 100%;
   background-image:url(client-bg-news.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;

}

.block-images{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 136, 230, 0.3);

}

.b-images1{
    height: 30%;
    width: 20%;
    overflow: hidden;
 
   background-image: url(client1.png);
   background-size: contain;
   background-repeat: no-repeat;
}

.b-images2{
    height: 30%;
    width: 20%;
    overflow: hidden;
 
   background-image: url(client2.png);
   background-size: contain;
   background-repeat: no-repeat;
}

.b-images3{
    height: 30%;
    width: 20%;
    overflow: hidden;
 
   background-image: url(client3.png);
   background-size: contain;
   background-repeat: no-repeat;
}

.b-images4{
    height: 30%;
    width: 20%;
    overflow: hidden;
 
   background-image: url(client4.png);
   background-size: contain;
   background-repeat: no-repeat;
}

.b-images5{
    height: 30%;
    width: 20%;
    overflow: hidden;
 
   background-image: url(client5.png);
   background-size: contain;
   background-repeat: no-repeat;
}

/* new div completed */


/* appointment div started */


.appoint{
    height: 1000px;
    padding: 3%;
    width: 100%;
}


#a-title {
    height: 40%;
    padding-top: 5%;
  
}  
#a-title h1{
    font-size: 40px;
}




.n-serves{
    height: 60%;
    width: 100%;
   
    margin-bottom: 5%;
    display: flex;
align-items: center;
justify-content: space-between;

}
.n-serves .serv1-left{
    height: 95%;
    width: 50%;
    float: left;
margin-top: 10%;
 margin-bottom: 2%;

  padding-left: 5%;
   background-repeat: no-repeat
    


}
.n-serves .serv2-right{
    height: 95%;
    width: 50%;
    float: left;

 margin-bottom: 7%;
background-image: url(contact-img-appointment.png);
background-size: contain;
background-repeat: no-repeat;
 overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat
}

.serv1-left input{
    height: 50px;
    width: 45%;
    margin: 2.5%;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid #8DD8DE;

}
.serv1-left input::placeholder{
    padding-left: 5%;
}


.serv1-left select{
    height: 50px;
    width: 45%;
    margin: 2.5%;
    margin-bottom: 0px;
    border: 1px solid #8DD8DE;
float: left;

}
.serv1-left select option::placeholder{
    margin-left: 10%;
}
.serv1-left textarea{
    height: 180px;
    border: 1px solid #8DD8DE;
    width: 95%;
    margin: 2.5%;
    margin-bottom: 5%;
    margin-top: 5%;
float: left;
}

.serv1-left button{
    height: 50px;
    width: 40%;
   margin-left: 2%;
   margin-right: 2%;
float: left;
}

.serv1-left p{
    height: 50px;
    width: 50%;
 color: #757575;
  
float: left;
}

@media(max-width:700px) {
    .appoint {
        height: auto;
        padding: 5%;
        width: 100%;
    }

    #a-title {
        height: auto;
        padding-top: 5%;
    }

    #a-title h1 {
        font-size: 20px;
    }

    .n-serves {
        display: block;
        height: auto;
        width: 100%;
        margin-top: 5%;
    }

    .n-serves .serv1-left {
        width: 100%;
        height: auto;
        margin: 0 auto 5% auto;
        float: none;
        padding: 0;
    }

    .n-serves .serv2-right {
        width: 100%;
        height: 450px; /* Or adjust based on image ratio */
        float: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .serv1-left input,
    .serv1-left select,
    .serv1-left textarea,
    .serv1-left button {
        width: 100% !important;
        margin: 10px 0 !important;
    }

    .serv1-left p {
        width: 100%;
        text-align: center;
    }
}


/* appoint div completed */

.signin-row{
    height: 250px;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #EDF2FF;
}

.main-row{height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-row1{
    height: 100%;
    width: 50%;
}

.main-row1 p{
    color: #757575;
}
.main-row2{
    height: 100%;
    width: 50%;
   display: inline-flex;
}

.main-row2 input{
 height: 70%;
 width: 60%;
 margin-right: 3%;
 border: none;
 border-radius: 10px;
}
.main-row2 input::placeholder{
    padding-left: 5%;
    font-size: medium;
}
.main-row2 button{
 height: 70%;
 width: 35%;
 border-radius: 10px;
 font-size: medium;
}

@media(max-width:700px) {
    .signin-row {
        height: auto;
        padding: 5%;
        width: 100%;
        display: block;
    }

    .main-row {
        height: auto;
        width: 100%;
        display: block;
    }

    .main-row1,
    .main-row2 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .main-row2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-row2 input {
        width: 90%;
        height: 50px;
        margin-bottom: 10px;
    }

    .main-row2 button {
        width: 50%;
        height: 50px;
    }
}


/* signin-row completed */

.footer{
    height: 400px;
    width: 100%;
  background: #176ABC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-div{
    height: 90%;
    width: 90%;
 color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-subdiv1{
    height: 100%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:25%;
   
   
}


.footer-subdiv1 li{
    display: inline;
   margin: 1.5%; 
   flex-wrap: wrap;
   gap: 10px; 
   
}

.footer-subdiv1 i{
    display: inline;
  padding: 3%;
   border: 1px solid white;
   border-radius: 50%;
}
.footer-subdiv1 i:hover{
    background: white;
    color: #000;
}




.footer-subdiv2{
    height: 100%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:25%;
   
   
}

.qd1{
    height: 70%;
    width: 50%;float: left;
   
}
.qd1 li{
    margin-top: 10%;
    list-style: none;
    margin-left: 2%;
}

.qd1 i{
    margin-right: 5%;
}



.footer-subdiv3{
    height: 100%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:25%;
   
   
}

.footer-subdiv3 li{
list-style: none;
margin-top: 5%;
}



.footer-subdiv4{
    height: 100%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:25%;
   
   
}


@media(max-width:700px) {
    .footer{
        height:1100px;
        width: 100%;
      background: #176ABC;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-div{
        height: 90%;
        width: 90%;
     color: white;
        display: block;
        align-items: center;
        justify-content: center;
    }
    
    .footer-subdiv1{
        height: 25%;
        padding: 1%;
        overflow: hidden;
        background-color: transparent;
        width:100%;
        float: left;
       
       
    }
    
.footer-subdiv2{
    height: 25%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:100%;
    float: left;
   
   
}
.footer-subdiv3{
    height: 25%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:100%;
    float: left;
   
   
}

.footer-subdiv4{
    height: 25%;
    padding: 1%;
    overflow: hidden;
    background-color: transparent;
    width:100%;
    float: left;
   
   
}


}

#foot-mail{
    height: 15%;
    width: 100%;
    float: left;
    
}

#foot-mail input{
        width: 72%;
        height: 100%;
        margin-bottom: 10px;
        border: 2px solid white;
      border-radius: 5px 0px 0px 5px;
       
}

#foot-mail input::placeholder{
    padding-left: 5%;
}
#foot-mail button{
        width: 28%;
     color: black;
        height: 99%;
        box-sizing: border-box;
        background: white;
      
       border-radius: 0px 5px 5px 0px;
       box-sizing: border-box;
}

#foot-mail button:hover{
    background: white;
    color: white;
}



/* footer completed */
.finaldiv{
    height: 70px;
    width: 100%;
background: #1A76D1;
display: flex;
color:  white;
align-items: center;
justify-content: center;
}


@media(max-width:700px) {
    .finaldiv p{
        font-size: small;
    }
}